html {
    color: #000000;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #4D2F28, #d7662c, #ea9546, #f4e098);
    background-size: 110% 110%;
}

.cabecalho {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
}

nav {
    background-color: #333;
    border-radius: 20px;
    display: flex;
    align-items:center;
}

.cabecalho .logo {
    width: 150px;
    height: 30px;
    border-radius: 20px;
}

.cabecalho .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.cabecalho .menu li {
    float: left;
}

.cabecalho .menu li a {
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.cabecalho .menu li a:hover {
    background-color: #111;
    border-radius: 20px;
}

.cabecalho .menu .login-form {
    display: flex;
    align-items: center;
    
}

.cabecalho .menu .login-form input {
    margin-right: 10px;
    padding: 5px;
}

.cabecalho .menu .login-form button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.cabecalho .menu .login-form button:hover {
    background-color: #111;
}

.cabecalho .menu .login-form a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.cabecalho .menu .login-form a:hover {
    background-color: #111;
}

.home {
    display: flex;
    min-height: calc(100vh - 125px);
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.home .informacoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1 {
    font-family: "Rakeway", sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .informacoes p{
    font-family: "Rakeway", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.home .redes-sociais{
    display: flex;
    gap: 20px;
}

.home .redes-sociais a i{
    border: 1px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.home .redes-sociais a i:hover{
    color: #90db3b;
    border: 1px solid #90db3b;
    transform: scale(1.1);
}

.home .container-foto .foto{
    max-width: 450px;
    border-radius: 50%;
}

.home .container-foto img{
    width: 98%;
    border-radius: 50%;
}

.home .foto.sombra-interna{
    background: linear-gradient(to right, #3a6547, #9ece86);
    background-size: 190% 120%;
    animation: gradient-animation 5s ease infinite;
}
/*
.origem{
    padding: 70px 0;
}

.origem .origem{
    text-align: justify;
    padding: 30px 15px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
*/
.fotos .titulo{
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.fotos .container-fotos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.fotos .foto{
    max-width: 260px;
    max-height: 260px;
    position: relative;
    display: none;
}

.fotos .foto.ativos{
    display: block;
}

.fotos .foto img{
    height: 100%;
}

.fotos .foto h3{
    background-color: #040203;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

.fotos .foto .informacoes-foto{
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
}

.fotos .container-fotos .foto:hover .informacoes-foto{
    opacity: 0.7;
    background-color: #000;
}

.fotos .btn-mostrar-fotos{
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.fotos .btn-mostrar-fotos:hover{
    background-color: #90db3b;
}

.fotos .btn-mostrar-fotos.remover{
    display: none;
}

@keyframes gradient-animation{
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}